{
	"semi": true,
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 70,
	"bracketSpacing": true,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*index.sass"],
			"options": {
				"semi": false
			}
		}
	]
}
